
body {
  background-color: #f0f0f0; 
}


body, h1, p {
  color: hsl(0, 2%, 58%); 
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


h1 {
  background-color: navy;
  font-size: 32px;
  text-align:center;
  padding:30px;
}

h2 {
  font-size: 24px;
}


p {
  font-size: 16px;
  line-height: 1.5;
}
nav{
  background:#b2aeae;
  padding:20;
}
nav li{
  display:inline;
  text-decoration: none;

}

a {
  color: hwb(211 2% 73%); 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color:blue;
}

section img{
  height:auto;
  width:33%;
}

